{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Add {% endblock title %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header">
                    <div class="row mb-0 p-0">
                        <div class="col">
                            <h5 class="mb-0 text-center">Ajouter/Modifier un {{ model_name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="row">
                            <button type="submit" name="action" value="save" class="btn btn-success col-3 mx-2">Enregistrer</button>
                            <button type="submit" name="action" value="save_and_add_another" class="btn btn-success col-3 mx-2">Enregistrer et ajouter un autre</button>
                            <a class="btn btn-warning col-3" href="{% url list_view_name %}">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
